<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">

    <!-- ===== Mobile viewport optimized ===== -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=no">

    <!-- ===== Website Title ===== -->
    <title>Top Watch - Movies, Series</title>

    <!-- ===== Favicon & Different size apple touch icons ===== -->
    <link rel="shortcut icon" href="~/assets/images/pngegg.png" type="image/x-icon">
    <link rel="apple-touch-icon" sizes="57x57" href="~/assets/images/pngegg.png">

    <!-- ===== CSS links ===== -->
    <link rel="stylesheet" type="text/css" href="~/assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/assets/revolution/css/settings.css">
    <link rel="stylesheet" type="text/css" href="~/assets/revolution/css/layers.css">
    <link rel="stylesheet" type="text/css" href="~/assets/revolution/css/navigation.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/magnific-popup.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/jquery.mmenu.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/owl.carousel.min.css">

    <link rel="stylesheet" type="text/css" href="~/assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/responsive.css">
</head>

<body>
    <!-- =============== START OF PRELOADER =============== -->


    <!-- =============== START OF RESPONSIVE - MAIN NAV =============== -->
    <nav id="main-mobile-nav"></nav>


        @RenderBody()
        @RenderSection("scripts", required: false)




    <!-- ===== All Javascript at the bottom of the page for faster page loading ===== -->
    <script src="~/assets/js/jquery-3.2.1.min.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>
    <script src="~/assets/js/jquery.ajaxchimp.js"></script>
    <script src="~/assets/js/jquery.magnific-popup.min.js"></script>
    <script src="~/assets/js/jquery.mmenu.js"></script>
    <script src="~/assets/js/jquery.inview.min.js"></script>
    <script src="~/assets/js/jquery.countTo.min.js"></script>
    <script src="~/assets/js/jquery.countdown.min.js"></script>
    <script src="~/assets/js/owl.carousel.min.js"></script>
    <script src="~/assets/js/imagesloaded.pkgd.min.js"></script>
    <script src="~/assets/js/isotope.pkgd.min.js"></script>
    <script src="~/assets/js/headroom.js"></script>
    <script src="~/assets/js/custom.js"></script>


</body>

</html>