<!DOCTYPE html>

@{ 
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<html lang="en">

<head>
    <meta charset="UTF-8">

    <!-- ===== Mobile viewport optimized ===== -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=no">

    <!-- ===== Google Fonts ===== -->
    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700" rel="stylesheet">

    <!-- ===== CSS links ===== -->
    <link rel="stylesheet" type="text/css" href="~/assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/assets/revolution/css/settings.css">
    <link rel="stylesheet" type="text/css" href="~/assets/revolution/css/layers.css">
    <link rel="stylesheet" type="text/css" href="~/assets/revolution/css/navigation.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/magnific-popup.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/jquery.mmenu.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/owl.carousel.min.css">

    <link rel="stylesheet" type="text/css" href="~/assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/responsive.css">

</head>

<body>
    <div>
        <main class="ptb50">
            <center style="">
                <h2 style="font-family:'Times New Roman'; background-color:brown; color:burlywood">Thanks To Everyone Who Was Part of This Project</h2>
                <hr />
            </center>
            <div class="container">
                <div class="row">
                    <div class="col-sm-8">
                        <center>
                            <div class="movie-box-2 mb10">
                                <div class="listing-container">
                                    <div class="listing-image">
                                        <img src="~/Photos/Dr. Shaker.jpg" alt="Alternate Text" />
                                    </div>
                                    <div class="listing-content">
                                        <div class="inner">
                                            <h6 style="font-family:'Times New Roman', Times, serif" class="title">Dr. Shakir Mrayyen</h6>
                                            <small class="text-success">As a Teacher of The Course</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </center>
                    </div>
                    <div class="col-lg-4 col-md-12">
                        <center>
                            <div class="movie-box-2 mb10">
                                <div class="listing-container">
                                    <div class="listing-image">
                                        <img src="~/Photos/Mohammed.jpg" alt="Alternate Text" />
                                    </div>
                                    <div class="listing-content">
                                        <div class="inner">
                                            <h6 style="font-family:'Times New Roman', Times, serif" class="title">Mohammed Mahameed</h6>
                                            <small class="text-success">As a Teameleader of The Project</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </center>
                    </div>

                    <div class="col-lg-4 col-md-12">
                        <center>
                            <div class="movie-box-2 mb10">
                                <div class="listing-container">
                                    <div class="listing-image">
                                        <img src="~/Photos/Moaweah.jpg" alt="Alternate Text" />
                                    </div>
                                    <div class="listing-content">
                                        <div class="inner">
                                            <h6 style="font-family:'Times New Roman', Times, serif" class="title">Moaweah Dwairi</h6>
                                            <small class="text-success">As a Member of The Project</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </center>
                    </div>

                    <div class="col-lg-4 col-md-12">
                        <center>
                            <div class="movie-box-2 mb10">
                                <div class="listing-container">
                                    <div class="listing-image">
                                        <img src="~/Photos/Ameen.jpg" alt="Alternate Text" />
                                    </div>
                                    <div class="listing-content">
                                        <div class="inner">
                                            <h6 style="font-family:'Times New Roman', Times, serif" class="title">Ameen Hamaideh</h6>
                                            <small class="text-success">As a Member of The Project</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </center>
                    </div>

                    <div class="col-lg-4 col-md-12">
                        <center>
                            <div class="movie-box-2 mb10">
                                <div class="listing-container">
                                    <div class="listing-image">
                                        <img src="~/Photos/Motasm.jpg" alt="Alternate Text" />
                                    </div>
                                    <div class="listing-content">
                                        <div class="inner">
                                            <h6 style="font-family:'Times New Roman', Times, serif" class="title">Motasm Dwairi</h6>
                                            <small class="text-success">As a Member of The Project</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </center>
                    </div>
                    <div class="col-lg-4 col-md-12">
                        <center>
                            <div class="movie-box-2 mb10">
                                <div class="listing-container">
                                    <div class="listing-image">
                                        <img src="~/Photos/Majed.jpg" alt="Alternate Text" />
                                    </div>
                                    <div class="listing-content">
                                        <div class="inner">
                                            <h6 style="font-family:'Times New Roman', Times, serif" class="title">Majed Shraydeh</h6>
                                            <small class="text-success">As a Member of The Project</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </center>
                    </div>

                    <div class="col-lg-4 col-md-12">
                        <center>
                            <div class="movie-box-2 mb10">
                                <div class="listing-container">
                                    <div class="listing-image">
                                        <img src="~/Photos/Ahmad.jpg" alt="Alternate Text" />
                                    </div>
                                    <div class="listing-content">
                                        <div class="inner">
                                            <h6 style="font-family:'Times New Roman', Times, serif" class="title">Ahmad Junidy</h6>
                                            <small class="text-success">As a Member of The Project</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </center>
                    </div>
                </div>

                <center>
                    <div class="btn btn-effect btn-green">
                        <a href="../Movie/Home">Back To Home</a>
                    </div>
                </center>

            </div>
        </main>
    </div>

</body>

</html>
